body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF
}

body{
    background: url(../img/vladimir-kondratyev-mQvyeHUAU6Y-unsplash.webp) no-repeat center center fixed;
    background-size: cover;
}

header {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vanta{
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.8s ease-in-out, filter 0.8s ease-in-out;
}

header > img{
    width: 7em;
    height: 7em;
    border-radius: 99%;
    border: 1px solid #FFF;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

header > h1{
    display: inline;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #FFF;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 50em;
}

ul > li{
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding:  1em;
    margin: 2em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

ul > li > a{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    gap: 0.5em;
}

a{
    color:  black;
    text-decoration: none;
}

.responsive {
    width: 100%;
    max-width: 20px;
    height: auto;
  }